.routine {
  display: flex;
  flex-direction: row;
}

.name{
float: left}

.creator{
  float: left;
  font-size: smaller;
  line-height: 1rem;
}

.goal{
  float: left
}

.routine input[type="text"] {
  appearance: none;
  background: none;
  color: black;
  font-size: 1rem;
  width: 30rem;
  font-family: 'Barlow Condensed', cursive;}


.routine input[type="number"] {
  appearance: none;
}

.routine input:disabled {
  border: none;
}
input {
  font-family: 'Barlow Condensed', cursive
}

input:disabled{
  background: none;
}

.routine input:enabled[type="text"] {
  border: none;
  border-bottom: 1px solid black;
}

.routine-buttons {
  float: right
}

/* .non-danger-buttons {
  display: flex;
  flex-direction: column;
} */

.edit-buttons button {
  margin-bottom: 1rem;
}

.routine-edit-button{
  width: 5rem;
}

.routine-activities button {
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.activity input[type="text"] {
  appearance: none;
  background: none;
  color: black;
  font-size: 1rem;
  font-family: 'Barlow Condensed', cursive;
  width: 80%;
}

.activity input:disabled {
  border: none;
}

.activity input:enabled[type="text"] {
  border: none;
  border-bottom: 1px solid black;
}

.ra-header {
  display: inline-flex;
  align-items: center;
}

.ra-header button {
  height: 2rem;
  margin-left: 1rem
}