.routine {
  display: flex;
  flex-direction: row;
}

.routine-form-inputs {
  display: flex;
  justify-content: center;
}

.routine input[type="text"] {
  appearance: none;
  background: none;
  color: white;
  font-size: 18px;
}

/* .routine input[type="number"] {
  appearance: none;
  background: none;
  color: white;
  font-size: 18px;
} */

.routine input:disabled {
  border: none;
}

.routine input:enabled[type="text"] {
  border: none;
  border-bottom: 1px solid black;
}

.edit-buttons {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.non-danger-buttons {
  display: flex;
  flex-direction: column;
}

.edit-buttons button {
  margin-bottom: 1rem;
}

.routine-activities button {
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.activity input[type="text"] {
  appearance: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
}

.activity input:disabled {
  border: none;
}

.activity input:enabled[type="text"] {
  border: none;
  border-bottom: 1px solid black;
}

.ra-header {
  display: flex;
}

.ra-header button {
  padding: .2rem;
  height: 2rem
}