.routine input[type="text"] {
  appearance: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
}

.routine input:disabled {
  border: none;
}

.routine input:enabled[type="text"] {
  border: none;
  border-bottom: 1px solid black;
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
}

.edit-buttons button {
  margin-right: 1rem;
}

.routine-activities button {
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.ra-header {
  display: flex;
}

.ra-header button {
  padding: .2rem;
  height: 2rem
}